<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337048486198-p57ovoum7gav65v6i39rsaf0suel8n1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337048486198-p57ovoum7gav65v6i39rsaf0suel8n1p</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Cdj3B8I6fVwsvd-0-zDa-VQiq5t84-g</string>
	<key>GCM_SENDER_ID</key>
	<string>337048486198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoRouteExample</string>
	<key>PROJECT_ID</key>
	<string>analyticsflutter-8c9a4</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticsflutter-8c9a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337048486198:ios:f975f3d2c45c8e2546f397</string>
</dict>
</plist>